<section class="mbr-section content4 cid-rd2JtnzD7G" id="content4-q">
    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center pb-3 mbr-fonts-style display-2">{{judul}}
                </h2>
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-fonts-style display-5">
                    {{kategori}}</h3>
                
            </div>
        </div>
    </div>
</section>


<section class="mbr-section article content1 cid-rd2JBBC12t" id="content1-s">
    <div class="container">
        <div class="media-container-row">
            <div class="mbr-text col-12 col-md-8 mbr-fonts-style display-7">{{isi}}
            </div>
        </div>
    </div>
</section>
