<section class="cid-rd1liWFr0c mbr-fullscreen" data-bg-video="https://www.youtube.com/watch?v=6Dwox_Qrplg" id="header2-0">
    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(35, 35, 35);"></div>

    <div class="container align-center">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">
                    WEB SECURITY SCANNER</h1>
                
                <p class="mbr-text pb-3 mbr-fonts-style display-5">{{id}} - {{status}} <br> <i>{{saveurl}}</i></p>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nama</th>
                    <th>ID</th>
                    <th width="40%">Keterangan</th>
                    <th>Publish</th>
                    <th>Serverity</th>
                </tr>
            </thead>
            <tbody>
                {{resultscan}}
            </tbody>
        </table>
    </div>
</section>